<h2>TestReports</h2>
<div ng-controller="TestReportController">

	<form id="list">
		<fieldset>
    		<legend>Overview TestReports</legend>
	        <table id="table" class="table table-striped">
	            <thead>
		            <tr>
		                <th>Titel</th>
		                <th>Date</th>
		                <th>Author</th>
		                <th>Camera</th>
		                <th>Id</th>
		                <th></th>
		            </tr>
	            </thead>
	            <tbody>
		            <tr ng-repeat="testReport in testReports">
		                <td>{{testReport.title}}</td>
		                <td>{{testReport.date | date:'dd.MM.yyyy'}}</td>
		                <td>{{testReport.author.forename}} {{testReport.author.surname}}</td>
		                <td>{{testReport.camera.model}}</td>
		                <td>{{testReport.id}}</td>
		                <td style="text-align: right;">
		                	<button id="edit" ng-click="edit(testReport)" class="btn">Edit</button>
							<button id="remove" ng-click="remove($index, testReport.id)" class="btn">Delete</button>
						</td>
		            </tr>
	            </tbody>
	        </table>
		</fieldset>
    </form>

    <form id="form" name="testReportForm">
    	<fieldset>
    		<legend>Create Reports</legend>
	    	
	    		<div class="control-group">
			        <label for="title">Title</label>
			        <input type="text" id="title" ng-model="currentTestReport.title" ng-minlength="2" ng-minlength="255" required />
			    </div>
			    <div class="control-group">
			        <label for="date">Date</label>
			        <input type="text" id="date" ng-model="currentTestReport.date" date="dd.MM.yyyy" ui-date="{ dateFormat: 'dd.mm.yy' }" required />
			    </div>
			    <div class="control-group">
			        <label for="author">Author</label>
			        <select id="author" ng-model="currentTestReport.author" ng-options="(author.forename + ' ' + author.surname) for author in authors">
			        	<option value="">-- Select a Author --</option>
			        </select>
		        </div>
		        <div class="control-group">
			        <label for="camera">Camera</label>
			        <select id="camera" ng-model="currentTestReport.camera" ng-options="(camera.producer + ' ' + camera.model) for camera in cameras">
			        	<option value="">-- Select a Camera --</option>
			        </select>
		        </div>
		        <div class="control-group">
			        <label for="text">Text</label>
			        <textarea id="text" ng-model="currentTestReport.text" rows="8" required ></textarea>
		        </div>
		        
			    <div class="control-group">
			        <label for="id">Id</label>
			        <input type="text" id="id" ng-model="currentTestReport.id" disabled="disabled"/>
			    </div>
			    <div class="control-group">
			    	<label>&nbsp;</label>		        
			        <button id="save" ng-click="save()" class="btn">Save</button>
			        <button id="cancel" ng-click="cancel()" class="btn">Cancel</button>
			    </div>
		</fieldset>
		<div class=" clearfix"></div>
    </form>
</div>